@model CustomerCreateModel

<div class="row">
    <div class="col">
        @*<form asp-action="Create" method="post" class="row g-3">*@
        @using (Html.BeginForm("Create", "Customer", FormMethod.Post, new { @class = "row g-3" }))
        {
            <div class="col-md-6">
                <label asp-for="Title" class="form-label">Müşteri Ünvanı</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title"></span>
            </div>
            <div class="col-md-6">
                @Html.LabelFor(p => p.Code, "Cari Kodu", new { @class = "form-label" })
                @Html.TextBoxFor(p => p.Code, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(p => p.Code)
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Kaydet</button>
            </div>
        }
        @*</form>*@
    </div>
</div>