/* CSS File 
  ===================
    Item Name: Erratum - 404 Error pages + Coming soon + login
    Author: Ashish Maraviya
    Version: 3
    Copyright 2023
===================*/
/*------------------------------------------------------------------
  [ Master css file, Table of contents ]
  
  00. General css
  01. Page css
  
------------------------------------------------------------*/

/*------------------------------------------------------------------
  # [Color codes]
    color: #5076db;
    color: #5bc86d;
# */

/*------------------------------------------------------------------
  [Typography]
  
  Body copy:      font-family: 'Montserrat', sans-serif;
-------------------------------------------------------------------*/
$font-family: "Montserrat", sans-serif;
$color-white: #fff;
$color-detail-text: #5076db;

/*==============
  [00] Page General css
=================*/
body {
  font-family: $font-family;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family;
}
.loader-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: #ffffff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  z-index: 9;
  top: 0;
}
.loader {
  border: 16px solid #111;
  border-radius: 50%;
  border-top: 16px double #5076db;
  border-bottom: 16px double #5076db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*==============
  [01] Page css
=================*/
.page-section {
  background-image: url("../images/background-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .content-detail {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .sub-title,
    .detail-text {
      display: block;
      color: $color-detail-text;
      text-align: center;
    }
    .sub-title {
      margin-bottom: 15px;
      font-weight: 600;
      font-size: 30px;
    }
    .global-title {
      display: block;
      color: #5bc86d;
      font-size: 150px;
      font-weight: 800;
      span {
        animation: animateblur 1s linear forwards;
        &:nth-child(1) {
          animation-delay: 1s;
        }
        &:nth-child(2) {
          animation-delay: 2s;
        }
        &:nth-child(3) {
          animation-delay: 3s;
        }
      }
      @keyframes animateblur {
        0% {
          opacity: 0;
          filter: blur(10px);
        }
        100% {
          opacity: 1;
          filter: blur(0px);
        }
      }
    }
    .back-btn {
      margin-top: 15px;
      .btn {
        padding: 8px 15px;
        color: #5076db;
        border: 1px solid #5076db;
        border-radius: 30px;
        font-size: 14px;
        &:hover {
          background-color: #5076db;
          color: $color-white;
        }
      }
    }
  }
}
